* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow: -moz-hidden-unscrollable;
    background-color: black;
}

body {
    overflow: hidden;
    height: 100%;
}

main {
    height: 100%;
}

.blue,
.green,
.yellow,
.sound,
.random {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 48px;
    bottom: 20px;
    right: 12px;
    cursor: pointer;
    opacity: 0.2;
}

.blue:hover,
.green:hover,
.yellow:hover,
.sound:hover,
.random:hover {
    opacity: 0.6;
}

.blue:active,
.green:active,
.yellow:active,
.sound:active,
.random:active {
    opacity: 1;
}

.blue:active {
    box-shadow: 0 0 12px 0 dodgerblue;
}

.green:active {
    box-shadow: 0 0 12px 0 lime;
}

.yellow:active {
    box-shadow: 0 0 12px 0 yellow;
}

.sound:active {
    box-shadow: 0 0 12px 0 white;
}

.yellow {
    bottom: 120px;
    background-color: yellow;
}

.green {
    bottom: 180px;
    background-color: lime;
}

.blue {
    bottom: 240px;
    background-color: dodgerblue;
}

.sound {
    height: 4rem;
    background-color: white;
}

.random {
    bottom: 300px;
    background: -webkit-radial-gradient(center, red, orange, yellow, green, cyan, blue, violet, red);
}