* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    overflow: -moz-hidden-unscrollable;
    background-color: black;
}

body {
    overflow: hidden;
    height: 100%;
}

main {
    height: 100%;
}

.blue,
.green,
.yellow,
.sound {
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: none;
    outline: none;
    border-radius: 48px;
    bottom: 20px;
    right: 12px;
    cursor: pointer;
}

.yellow {
    bottom: 120px;
    background-color: rgba(255, 255, 0, 0.589);
}

.green {
    bottom: 180px;
    background-color: rgba(6, 194, 6, 0.589);
}

.blue {
    bottom: 240px;
    background-color: rgba(30, 143, 255, 0.582);
}

.sound {
    height: 4rem;
    background-color: rgba(255, 255, 255, 0.575);
}